body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}


* {
  box-sizing: border-box;
}

.header {
  display: flex;
}

.header img {
  height: 200px;
  margin-right: 40px;
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
